<!--img *ngIf="numero == '0'" src="../../assets/images/reversoCarta.jpg">
<img *ngIf="numero == '1'" src="../../assets/images/cards/1C.png">
<img *ngIf="numero == '2'" src="../../assets/images/cards/1p.png">
<img *ngIf="numero == '3'" src="../../assets/images/cards/1D.png">
<img *ngIf="numero == '4'" src="../../assets/images/cards/1T.png">
<img *ngIf="numero == '5'" src="../../assets/images/cards/2C.png">
<img *ngIf="numero == '6'" src="../../assets/images/cards/2P.png">
<img *ngIf="numero == '7'" src="../../assets/images/cards/2D.png">
<img *ngIf="numero == '8'" src="../../assets/images/cards/2T.png">
<img *ngIf="numero == '9'" src="../../assets/images/cards/3C.png">
<img *ngIf="numero == '10'" src="../../assets/images/cards/3P.png">
<img *ngIf="numero == '11'" src="../../assets/images/cards/3D.png">
<img *ngIf="numero == '12'" src="../../assets/images/cards/3T.png">
<img *ngIf="numero == '13'" src="../../assets/images/cards/4D.png">
<img *ngIf="numero == '14'" src="../../assets/images/cards/4C.png">
<img *ngIf="numero == '15'" src="../../assets/images/cards/4p.png">
<img *ngIf="numero == '16'" src="../../assets/images/cards/4T.png">
<img *ngIf="numero == '17'" src="../../assets/images/cards/5c.png">
<img *ngIf="numero == '18'" src="../../assets/images/cards/5P.png">
<img *ngIf="numero == '19'" src="../../assets/images/cards/5D.png">
<img *ngIf="numero == '20'" src="../../assets/images/cards/5T.png">
<img *ngIf="numero == '21'" src="../../assets/images/cards/6C.png">
<img *ngIf="numero == '22'" src="../../assets/images/cards/6P.png">
<img *ngIf="numero == '23'" src="../../assets/images/cards/6D.png">
<img *ngIf="numero == '24'" src="../../assets/images/cards/6T.png">
<img *ngIf="numero == '25'" src="../../assets/images/cards/7C.png">
<img *ngIf="numero == '26'" src="../../assets/images/cards/7P.png">
<img *ngIf="numero == '27'" src="../../assets/images/cards/7D.png">
<img *ngIf="numero == '28'" src="../../assets/images/cards/7T.png">
<img *ngIf="numero == '29'" src="../../assets/images/cards/8C.png">
<img *ngIf="numero == '30'" src="../../assets/images/cards/8P.png">
<img *ngIf="numero == '31'" src="../../assets/images/cards/8D.png">
<img *ngIf="numero == '32'" src="../../assets/images/cards/8T.png">
<img *ngIf="numero == '33'" src="../../assets/images/cards/9C.png">
<img *ngIf="numero == '34'" src="../../assets/images/cards/9P.png">
<img *ngIf="numero == '35'" src="../../assets/images/cards/9D.png">
<img *ngIf="numero == '36'" src="../../assets/images/cards/9T.png">
<img *ngIf="numero == '37'" src="../../assets/images/cards/10C.png">
<img *ngIf="numero == '38'" src="../../assets/images/cards/10D.png">
<img *ngIf="numero == '39'" src="../../assets/images/cards/10P.png">
<img *ngIf="numero == '40'" src="../../assets/images/cards/10T.png">
<img *ngIf="numero == '41'" src="../../assets/images/cards/11C.png">
<img *ngIf="numero == '42'" src="../../assets/images/cards/11P.png">
<img *ngIf="numero == '43'" src="../../assets/images/cards/11T.png">
<img *ngIf="numero == '44'" src="../../assets/images/cards/11D.png">
<img *ngIf="numero == '45'" src="../../assets/images/cards/12C.png">
<img *ngIf="numero == '46'" src="../../assets/images/cards/12P.png">
<img *ngIf="numero == '47'" src="../../assets/images/cards/12D.png">
<img *ngIf="numero == '48'" src="../../assets/images/cards/12T.png">
<img *ngIf="numero == '49'" src="../../assets/images/cards/13C.png">
<img *ngIf="numero == '50'" src="../../assets/images/cards/13P.png">
<img *ngIf="numero == '51'" src="../../assets/images/cards/13D.png">
<img *ngIf="numero == '52'" src="../../assets/images/cards/13T.png"-->


<img *ngIf="numero == '0'" src="https://i.ibb.co/FKft1DW/reverso-Carta.jpg">
<img *ngIf="numero == '1'" src="https://i.ibb.co/bdwz5vY/1C.png">
<img *ngIf="numero == '2'" src="https://i.ibb.co/7bfg1Mk/1D.png">
<img *ngIf="numero == '3'" src="https://i.ibb.co/x7Gj3qZ/1p.png">
<img *ngIf="numero == '4'" src="https://i.ibb.co/mHbYL1L/1T.png">
<img *ngIf="numero == '5'" src="https://i.ibb.co/NpxXVKL/2C.png">
<img *ngIf="numero == '6'" src="https://i.ibb.co/G0mHJrq/2D.png">
<img *ngIf="numero == '7'" src="https://i.ibb.co/r64MdV6/2P.png">
<img *ngIf="numero == '8'" src="https://i.ibb.co/98J4gPf/2T.png">
<img *ngIf="numero == '9'" src="https://i.ibb.co/YhjcyBs/3C.png">
<img *ngIf="numero == '10'" src="https://i.ibb.co/pK2YGLh/3P.png">
<img *ngIf="numero == '11'" src="https://i.ibb.co/NxyvpH0/3D.png">
<img *ngIf="numero == '12'" src="https://i.ibb.co/Tc3nDw2/3T.png">
<img *ngIf="numero == '13'" src="https://i.ibb.co/nbJd9Sy/4D.png">
<img *ngIf="numero == '14'" src="https://i.ibb.co/yqksWyt/4C.png">
<img *ngIf="numero == '15'" src="https://i.ibb.co/D16V3H7/4p.png">
<img *ngIf="numero == '16'" src="https://i.ibb.co/Y0CByqX/4T.png">
<img *ngIf="numero == '17'" src="https://i.ibb.co/c81stVz/5c.png">
<img *ngIf="numero == '18'" src="https://i.ibb.co/tBVm3Xj/5P.png">
<img *ngIf="numero == '19'" src="https://i.ibb.co/RC5xDs7/5D.png">
<img *ngIf="numero == '20'" src="https://i.ibb.co/4fVcwhP/5T.png">
<img *ngIf="numero == '21'" src="https://i.ibb.co/s5d0LR5/6C.png">
<img *ngIf="numero == '22'" src="https://i.ibb.co/Wy5K9Z2/6P.png">
<img *ngIf="numero == '23'" src="https://i.ibb.co/JQkVCMW/6D.png">
<img *ngIf="numero == '24'" src="https://i.ibb.co/J2ssc93/6T.png">
<img *ngIf="numero == '25'" src="https://i.ibb.co/tczKM6Z/7C.png">
<img *ngIf="numero == '26'" src="https://i.ibb.co/xmKrxyt/7P.png">
<img *ngIf="numero == '27'" src="https://i.ibb.co/RgDpfpG/7D.png">
<img *ngIf="numero == '28'" src="https://i.ibb.co/1KvR047/7T.png">
<img *ngIf="numero == '29'" src="https://i.ibb.co/ZJnH9zW/8C.png">
<img *ngIf="numero == '30'" src="https://i.ibb.co/t2mdQk8/8P.png">
<img *ngIf="numero == '31'" src="https://i.ibb.co/hMfbXc9/8D.png">
<img *ngIf="numero == '32'" src="https://i.ibb.co/KzCQyyT/8T.png">
<img *ngIf="numero == '33'" src="https://i.ibb.co/dmKDDxr/9C.png">
<img *ngIf="numero == '34'" src="https://i.ibb.co/6WdRrdX/9P.png">
<img *ngIf="numero == '35'" src="https://i.ibb.co/XXJnDjt/9D.png">
<img *ngIf="numero == '36'" src="https://i.ibb.co/LYwkGb8/9T.png">
<img *ngIf="numero == '37'" src="https://i.ibb.co/ydLqZ7S/10C.png">
<img *ngIf="numero == '38'" src="https://i.ibb.co/Drrd0HY/10D.png">
<img *ngIf="numero == '39'" src="https://i.ibb.co/qnGs8mr/10P.png">
<img *ngIf="numero == '40'" src="https://i.ibb.co/kXR8CFD/10T.png">
<img *ngIf="numero == '41'" src="https://i.ibb.co/ckf6Dyz/11C.png">
<img *ngIf="numero == '42'" src="https://i.ibb.co/TT8m7hD/11P.png">
<img *ngIf="numero == '43'" src="https://i.ibb.co/LJrXMB1/11T.png">
<img *ngIf="numero == '44'" src="https://i.ibb.co/Brwfsb6/11D.png">
<img *ngIf="numero == '45'" src="https://i.ibb.co/KbTpBDL/12C.png">
<img *ngIf="numero == '46'" src="https://i.ibb.co/0Frk6zG/12P.png">
<img *ngIf="numero == '47'" src="https://i.ibb.co/hFgKTX3/12D.png">
<img *ngIf="numero == '48'" src="https://i.ibb.co/RysKBJT/12T.png">
<img *ngIf="numero == '49'" src="https://i.ibb.co/txdy9V5/13C.png">
<img *ngIf="numero == '50'" src="https://i.ibb.co/WxtvfFm/13P.png">
<img *ngIf="numero == '51'" src="https://i.ibb.co/6vMQNm3/13D.png">
<img *ngIf="numero == '52'" src="https://i.ibb.co/3T73h5f/13T.png">