<img *ngIf="numero == '0'" src="../../assets/images/reversoCarta.jpg">
<img *ngIf="numero == '1'" src="../../assets/images/cards/1c.png">
<img *ngIf="numero == '2'" src="../../assets/images/cards/1p.png">
<img *ngIf="numero == '3'" src="../../assets/images/cards/1d.png">
<img *ngIf="numero == '4'" src="../../assets/images/cards/1t.png">
<img *ngIf="numero == '5'" src="../../assets/images/cards/2c.png">
<img *ngIf="numero == '6'" src="../../assets/images/cards/2p.png">
<img *ngIf="numero == '7'" src="../../assets/images/cards/2d.png">
<img *ngIf="numero == '8'" src="../../assets/images/cards/2t.png">
<img *ngIf="numero == '9'" src="../../assets/images/cards/3c.png">
<img *ngIf="numero == '10'" src="../../assets/images/cards/3p.png">
<img *ngIf="numero == '11'" src="../../assets/images/cards/3d.png">
<img *ngIf="numero == '12'" src="../../assets/images/cards/3t.png">
<img *ngIf="numero == '13'" src="../../assets/images/cards/4d.png">
<img *ngIf="numero == '14'" src="../../assets/images/cards/4c.png">
<img *ngIf="numero == '15'" src="../../assets/images/cards/4p.png">
<img *ngIf="numero == '16'" src="../../assets/images/cards/4t.png">
<img *ngIf="numero == '17'" src="../../assets/images/cards/5c.png">
<img *ngIf="numero == '18'" src="../../assets/images/cards/5p.png">
<img *ngIf="numero == '19'" src="../../assets/images/cards/5d.png">
<img *ngIf="numero == '20'" src="../../assets/images/cards/5t.png">
<img *ngIf="numero == '21'" src="../../assets/images/cards/6c.png">
<img *ngIf="numero == '22'" src="../../assets/images/cards/6p.png">
<img *ngIf="numero == '23'" src="../../assets/images/cards/6d.png">
<img *ngIf="numero == '24'" src="../../assets/images/cards/6t.png">
<img *ngIf="numero == '25'" src="../../assets/images/cards/7c.png">
<img *ngIf="numero == '26'" src="../../assets/images/cards/7p.png">
<img *ngIf="numero == '27'" src="../../assets/images/cards/7d.png">
<img *ngIf="numero == '28'" src="../../assets/images/cards/7t.png">
<img *ngIf="numero == '29'" src="../../assets/images/cards/8c.png">
<img *ngIf="numero == '30'" src="../../assets/images/cards/8p.png">
<img *ngIf="numero == '31'" src="../../assets/images/cards/8d.png">
<img *ngIf="numero == '32'" src="../../assets/images/cards/8t.png">
<img *ngIf="numero == '33'" src="../../assets/images/cards/9c.png">
<img *ngIf="numero == '34'" src="../../assets/images/cards/9p.png">
<img *ngIf="numero == '35'" src="../../assets/images/cards/9d.png">
<img *ngIf="numero == '36'" src="../../assets/images/cards/9t.png">
<img *ngIf="numero == '37'" src="../../assets/images/cards/10c.png">
<img *ngIf="numero == '38'" src="../../assets/images/cards/10d.png">
<img *ngIf="numero == '39'" src="../../assets/images/cards/10p.png">
<img *ngIf="numero == '40'" src="../../assets/images/cards/10t.png">
<img *ngIf="numero == '41'" src="../../assets/images/cards/11c.png">
<img *ngIf="numero == '42'" src="../../assets/images/cards/11p.png">
<img *ngIf="numero == '43'" src="../../assets/images/cards/11t.png">
<img *ngIf="numero == '44'" src="../../assets/images/cards/11d.png">
<img *ngIf="numero == '45'" src="../../assets/images/cards/12c.png">
<img *ngIf="numero == '46'" src="../../assets/images/cards/12p.png">
<img *ngIf="numero == '47'" src="../../assets/images/cards/12d.png">
<img *ngIf="numero == '48'" src="../../assets/images/cards/12t.png">
<img *ngIf="numero == '49'" src="../../assets/images/cards/13c.png">
<img *ngIf="numero == '50'" src="../../assets/images/cards/13p.png">
<img *ngIf="numero == '51'" src="../../assets/images/cards/13d.png">
<img *ngIf="numero == '52'" src="../../assets/images/cards/13t.png">
