<img *ngIf="numero == '0'" src="../../assets/images/reversoCarta.jpg">
<img *ngIf="numero == '1'" src="../../assets/images/cards/1C.png">
<img *ngIf="numero == '2'" src="../../assets/images/cards/1P.jpg">
<img *ngIf="numero == '3'" src="../../assets/images/cards/1D.png">
<img *ngIf="numero == '4'" src="../../assets/images/cards/1T.png">
<img *ngIf="numero == '5'" src="../../assets/images/cards/2C.png">
<img *ngIf="numero == '6'" src="../../assets/images/cards/2P.png">
<img *ngIf="numero == '7'" src="../../assets/images/cards/2D.png">
<img *ngIf="numero == '8'" src="../../assets/images/cards/2T.png">
<img *ngIf="numero == '9'" src="../../assets/images/cards/3C.png">
<img *ngIf="numero == '10'" src="../../assets/images/cards/3P.png">
<img *ngIf="numero == '11'" src="../../assets/images/cards/3D.png">
<img *ngIf="numero == '12'" src="../../assets/images/cards/3T.png">
<img *ngIf="numero == '13'" src="../../assets/images/cards/4D.png">
<img *ngIf="numero == '14'" src="../../assets/images/cards/4C.png">
<img *ngIf="numero == '15'" src="../../assets/images/cards/4P.jpg">
<img *ngIf="numero == '16'" src="../../assets/images/cards/4T.png">
<img *ngIf="numero == '17'" src="../../assets/images/cards/5C.jpg">
<img *ngIf="numero == '18'" src="../../assets/images/cards/5P.png">
<img *ngIf="numero == '19'" src="../../assets/images/cards/5D.png">
<img *ngIf="numero == '20'" src="../../assets/images/cards/5T.png">
<img *ngIf="numero == '21'" src="../../assets/images/cards/6C.png">
<img *ngIf="numero == '22'" src="../../assets/images/cards/6P.png">
<img *ngIf="numero == '23'" src="../../assets/images/cards/6D.png">
<img *ngIf="numero == '24'" src="../../assets/images/cards/6T.png">
<img *ngIf="numero == '25'" src="../../assets/images/cards/7C.png">
<img *ngIf="numero == '26'" src="../../assets/images/cards/7P.png">
<img *ngIf="numero == '27'" src="../../assets/images/cards/7D.png">
<img *ngIf="numero == '28'" src="../../assets/images/cards/7T.png">
<img *ngIf="numero == '29'" src="../../assets/images/cards/8C.png">
<img *ngIf="numero == '30'" src="../../assets/images/cards/8P.png">
<img *ngIf="numero == '31'" src="../../assets/images/cards/8D.png">
<img *ngIf="numero == '32'" src="../../assets/images/cards/8T.png">
<img *ngIf="numero == '33'" src="../../assets/images/cards/9C.png">
<img *ngIf="numero == '34'" src="../../assets/images/cards/9P.png">
<img *ngIf="numero == '35'" src="../../assets/images/cards/9D.png">
<img *ngIf="numero == '36'" src="../../assets/images/cards/9T.png">
<img *ngIf="numero == '37'" src="../../assets/images/cards/10C.png">
<img *ngIf="numero == '38'" src="../../assets/images/cards/10D.png">
<img *ngIf="numero == '39'" src="../../assets/images/cards/10P.png">
<img *ngIf="numero == '40'" src="../../assets/images/cards/10T.png">
<img *ngIf="numero == '41'" src="../../assets/images/cards/11C.png">
<img *ngIf="numero == '42'" src="../../assets/images/cards/11P.png">
<img *ngIf="numero == '43'" src="../../assets/images/cards/11T.png">
<img *ngIf="numero == '44'" src="../../assets/images/cards/11D.png">
<img *ngIf="numero == '45'" src="../../assets/images/cards/12C.png">
<img *ngIf="numero == '46'" src="../../assets/images/cards/12P.png">
<img *ngIf="numero == '47'" src="../../assets/images/cards/12D.png">
<img *ngIf="numero == '48'" src="../../assets/images/cards/12T.png">
<img *ngIf="numero == '49'" src="../../assets/images/cards/13C.png">
<img *ngIf="numero == '50'" src="../../assets/images/cards/13P.png">
<img *ngIf="numero == '51'" src="../../assets/images/cards/13D.png">
<img *ngIf="numero == '52'" src="../../assets/images/cards/13T.png">
