<div class="container container-fluid">
    <br>
    <button type="button" class="btn btn-primary" (click)="iniciarJuego()">Iniciar</button>
    
    <div>
        <h1>Croupier: </h1>
        <br>
        <app-carta *ngFor="let item of cartasGroupier" numero={{item}} class="two-columns"> </app-carta>
        <h3>Total groupier: {{totalGroupier[0]}}</h3>
    </div>
    <br>
    <div>
        <h1>Jugador : {{nombre}} </h1>
        <br>
        <app-carta *ngFor="let carta of cartasJugador" numero={{carta}} class="two-columns"> </app-carta>
        <h3 *ngFor="let total of totalJugador">Total Jugador: {{total}}</h3>
        <div>
            <button type="button" class="btn btn-primary" *ngIf="isPedirEnabled"
                    (click)="pedirCartaJugador()">Pedir</button>
            <button type="button" class="btn btn-danger" *ngIf="isPlantarseEnabled"
                    (click)="plantarse()">Plantarse</button>
            <button type="button" class="btn btn-success" *ngIf="isDoblarEnabled">Doblar</button>
        </div>
    </div>



    <br>
    <br>
    <div class="abs-center">
        
        <b>Mejor Carta {{mejorTotal}}</b>
        
    </div>
    <br>
    <div class="abs-center">
        <b>Groupier {{ mejorTotalGroupier}}</b>
    </div>
    
    <div class="abs-center">
        <b>RESULTADO: {{ estado}}</b>
        <br>
        <br>
        <br>
    </div>
</div>
