<div class="container container-fluid">
    <div>
        <h1>Croupier: </h1>
        <br>
        <img src="../../assets/images/reversoCarta.jpg" class="two-columns">
        <img src="../../assets/images/reversoCarta.jpg" class="two-columns">
    </div>
    <br>
    <div>
        <h1>Jugador : </h1>
        <br>
        <img src="../../assets/images/reversoCarta.jpg" class="two-columns">
        <img src="../../assets/images/reversoCarta.jpg" class="two-columns">
        <div>
            <button type="button" class="btn btn-light">Pedir</button>
            <button type="button" class="btn btn-danger">Plantarse</button>
            <button type="button" class="btn btn-info">Doblar</button>
        </div>
    </div>
</div>